@*@model IEnumerable<MechanicsForum.Models.AspNetUser>

    @{
        ViewBag.Title = "Index";
    }*@
<style>
</style>

<body id="home">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New Account", "Create")
    </p>

    <div class="rTable" id="tbldiv">
        <div class="rTableRow">
            <div class="rTableHead"><strong>User Name</strong></div>
            <div class="rTableHead"><span style="font-weight: bold;">Email</span></div>
            <div class="rTableHead">Phone Number</div>
            <div class="rTableHead">Role</div>
        </div>
    </div>

</body>
<script>
    window.addEventListener("load", function () {

        postData('/AspNetUsers/GetAllUsers')
            .then(function (response) {
                console.table(response);

                var tablediv = document.getElementById("tbldiv");
                for (var i = 0; i < response.result.length; i++)
                {
                    var rowdiv = document.createElement("div");
                    rowdiv.setAttribute("class", "rTableRow");
                    tablediv.appendChild(rowdiv);
                    var celldiv1 = document.createElement("div");
                    var celldiv2 = document.createElement("div");
                    var celldiv3 = document.createElement("div");
                    var celldiv4 = document.createElement("div");
                    var cellEdit = document.createElement("a");
                    var cellDetails = document.createElement("a");
                    var cellDelete = document.createElement("a");

                    celldiv1.setAttribute("class", "rTableCell");
                    celldiv2.setAttribute("class", "rTableCell");
                    celldiv3.setAttribute("class", "rTableCell");
                    celldiv4.setAttribute("class", "rTableCell");
                    cellEdit.setAttribute("class", "rCellOther");
                    cellDetails.setAttribute("class", "rCellOther");
                    cellDelete.setAttribute("class", "rCellOther");

                    celldiv1.innerHTML = response.result[i].UserName;
                    celldiv2.innerHTML = response.result[i].Email;
                    celldiv3.innerHTML = response.result[i].PhoneNumber;
                    celldiv4.innerHTML = response.result[i].Role;
                    cellEdit.innerHTML = "Edit | ";
                    cellEdit.setAttribute("href", "/AspNetUsers/Edit/"+response.result[i].Id);
                    cellDetails.innerHTML = "Detail | ";
                    cellDetails.setAttribute("href", "/AspNetUsers/Details/" + response.result[i].Id);
                    cellDelete.innerHTML = "Delete";
                    cellDelete.setAttribute("href", "/AspNetUsers/Delete/" + response.result[i].Id);

                    tablediv.appendChild(celldiv1);
                    tablediv.appendChild(celldiv2);
                    tablediv.appendChild(celldiv3);
                    tablediv.appendChild(celldiv4);
                    tablediv.appendChild(cellEdit);
                    tablediv.appendChild(cellDetails);
                    tablediv.appendChild(cellDelete);
                }
            })
    });

    function postData(url, data) {
        // Default options are marked with *
        return fetch(url, {
            body: JSON.stringify(data), // must match 'Content-Type' header
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, same-origin, *omit
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, cors, *same-origin
            redirect: 'follow', // manual, *follow, error
            referrer: 'no-referrer', // *client, no-referrer
        })
            .then(response => response.json()) // parses response to JSON
    }

</script>
