@model IEnumerable<MechanicsForum.Models.Problem>

@{
    ViewBag.Title = "Posts";
}

<style type="text/css">
    .bgimg {
        background: url('../Content/images/Mech.jpg');
        height:400px;
        width:1140px;

    }

    .txtColor {
        color: #ffffff;
    }
</style>

<div class="jumbotron bgimg img-responsive">
 <p></p>
    <p></p>
</div>

@{
    ViewData["Title"] = "Home Page";
}


<h2>Questions</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @*@Html.ActionLink("New Post", "Create", new { @class = "btn btn - primary btn - lg active" })*@
        <a href="/Problems/Create" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ask a Question</a>

    }
    else
    {
        <a href="#" class="btn btn-primary btn-lg active " role="button" aria-pressed="true"
           onclick="document.getElementById('MustLogIn').hidden = false; return false;">Ask a Question</a>
    }
</p>
<p style="color:brown" id="MustLogIn" hidden>You must be logged in to ask a question.</p>
<div id="tbldiv">

</div>


<script>
    window.addEventListener("load", function () {

        postData('/Problems/GetAllProblems')
            .then(function (response) {
                console.table(response);
                populateQns(response);
                })
       
    });


    function postData(url, data) {
        // Default options are marked with *
        return fetch(url, {
            body: JSON.stringify(data), // must match 'Content-Type' header
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, same-origin, *omit
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, cors, *same-origin
            redirect: 'follow', // manual, *follow, error
            referrer: 'no-referrer', // *client, no-referrer
        })
            .then(response => response.json()) // parses response to JSON
    }

</script>

